*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, skyblue , rgb(148, 13, 182));
}
.container{
    height: 40%;
    width: 40%;
    height: auto;
    margin: auto;
    background: rgb(228, 233, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    
}
h1{
    color: rgb(228, 233, 224);
    text-transform: uppercase;
    font-weight: bold;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 20px;
}
.temp_logo{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
span{
    text-transform: uppercase;
    color: rgb(131, 14, 185);
    font-weight: bold;

}
.unit{
    margin: 0px 20px 20px 20px;
    border: none;
    border-radius: 5px;
    width: 90%;
    background-color: blueviolet;
    padding: 10px;
    color: rgb(228, 233, 224);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
}
::placeholder{
    color: rgb(228, 233, 224);
}
.clear{
    height: auto;
    width: auto;
    margin: 15px;
    padding: 10px 20px;
    background: rgb(98, 5, 141);
    color: rgb(228, 233, 224);
    align-items: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.clear:hover{
    background-color: black ;
}
